body{
    padding-top: 60px;
}
.hero-unit{

}
.hero-unit h1{
/*    margin-top: 75px;*/
}
.hero-unit p{
    clear: both;
}
.thumbnail .image{

}
.panel{
    margin: 1em 0;
}
.panel h2{
    margin-top: 1em;
}
.span12.hr-bar{
    margin-left: 0;
}
.hr-bar hr{
    margin: 18px 0 0;
}

.panel {
    margin-top: 70px;
}

.use_case {
    font-weight: bold;
}