[mysqld]

default-storage-engine=innodb
lower_case_table_names=1
innodb_file_per_table
local-infile=0

symbolic-links=0
bind-address    = 0.0.0.0

open_files_limit = 8192
max_connections = 1000


# taken from http://www.tocker.ca/2014/03/10/configuring-mysql-to-use-minimal-memory.html:

innodb_buffer_pool_size=5M
innodb_log_buffer_size=256K
query_cache_size=0
#max_connections=10
key_buffer_size=8
thread_cache_size=0
host_cache_size=0
innodb_ft_cache_size=1600000
innodb_ft_total_cache_size=32000000
table_definition_cache=400

# per thread or per operation settings
thread_stack=131072
sort_buffer_size=32K
read_buffer_size=8200
read_rnd_buffer_size=8200
max_heap_table_size=16K
tmp_table_size=1K
bulk_insert_buffer_size=0
join_buffer_size=128
net_buffer_length=1K
innodb_sort_buffer_size=64K

#settings that relate to the binary log (if enabled)
binlog_cache_size=4K
binlog_stmt_cache_size=4K
